.custom-background{
    background-color: #030A33;
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
html {
    scroll-behavior: smooth;
}